#ifndef SECRETS_H
#define SECRETS_H

// --- DATI WI-FI ---
#define WIFI_SSID "YOUR_WIFI_SSID"
#define WIFI_PASS "YOUR_WIFI_PASSWORD"

// --- DATI THINGSPEAK ---
#define SECRET_CH_ID 0       // Sostituisci con il tuo Channel ID
#define SECRET_WRITE_API ""  // Sostituisci con la tua Write API Key

#endif
